<aside class="col-md-3">

<h3>Recent Members</h3>
<div class = "recent">
  <% if @actives.any? %>
    <ol class="users">
      <%= render @actives %>
    </ol>
  <% end %>
</div>

<div>
<h3>Topic</h3>
<% if Topic.find(1).status == 1 %>
<%= button_to 'Game', static_pages_selectTopic_path(id:1), method: :post, class: "select"%>
<% else %>
<%= button_to 'Game', static_pages_selectTopic_path(id:1), method: :post %>
<% end %>

<% if Topic.find(2).status == 1 %>
<%= button_to 'A.I.', static_pages_selectTopic_path(id:2), method: :post, class: "select"%>
<% else %>
<%= button_to 'A.I.', static_pages_selectTopic_path(id:2), method: :post %>
<% end %>

<% if Topic.find(3).status == 1 %>
<%= button_to 'RMIT', static_pages_selectTopic_path(id:3), method: :post, class: "select"%>
<% else %>
<%= button_to 'RMIT', static_pages_selectTopic_path(id:3), method: :post %>
<% end %>

<% if Topic.find(4).status == 1 %>
<%= button_to 'V.R.', static_pages_selectTopic_path(id:4), method: :post, class: "select"%>
<% else %>
<%= button_to 'V.R.', static_pages_selectTopic_path(id:4), method: :post %>
<% end %>

</div>

<div>
<h3>Links</h3>
<li><a href="https://www.rmit.edu.au/">RMIT</a></li>
<li><a href="http://news.railstutorial.org/">Rails</a></li>
</div>


</aside>