<% provide(:title, "Edit password") %>
<h1>Update your Password</h1>

<div class="row">

<%= render 'users/menu' %>

  <div class="col-md-10">

  <nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "Personal Info", edit_user_path(current_user) %></li>
      <li><%= link_to "Avatar", avatar_path %></li>
      <li><%= link_to "Password", password_path %></li>
      <li><%= link_to "verification", new_verification_path %></li>
    </ul>
  </nav>

  <div class="col-md-8 col-md-offset-1">
    <%= form_for(@user) do |f| %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
</div>
  