<aside class="col-md-2">
    <li><%= link_to "My Profile", edit_user_path(current_user) %></li>
    <li><%= link_to "My Posts", edit_user_path(current_user) %></li>
    <li><%= link_to "My Comments", edit_user_path(current_user) %></li>
    <li><%= link_to "Comments to Me", edit_user_path(current_user) %></li>
    <li><%= link_to "Setting", edit_user_path(current_user) %></li>
</aside>