<aside class="col-md-2">
  <div class="sidenav">
    <li><%= link_to "My Profile", current_user %></li>
    <li><%= link_to "My Posts", myposts_path %></li>
    <li><%= link_to "My Comments", mycomments_path %></li>
    <li><%= link_to "Comments to Me", commentstome_path %></li>
    <li><%= link_to "Setting", edit_user_path(current_user) %></li>
  </div>
</aside>