<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'menu' %>

  <div class="col-md-10">
    <section class="user_info">
      <h1>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, size: 100 %>
        <% else %>
          <%= gravatar_for @user, size: 100 %>
        <% end %>
      </h1>
      <h3>  
          <%= @user.name %>
      </h3>
      <span class="timestamp">
        <%= @user.created_at %>
      </span>
      <span class="right1">
        <%= @user.city %>
      </span>
    </section>

      <div class="news">
      <h3>Recent Comments (<%= @user.comments.count %>)</h3>
        <% if @user.comments.any? %>
          <% @user.comments.each do |comment| %>
            <% micropost = Micropost.find(comment.micropost_id)%>
            <li id="comment-<%= comment.id %>">
            <span class="timestamp"><%= link_to micropost.title, micropost %></span>
            <span class="timestamp">
            Posted <%= time_ago_in_words(comment.created_at) %> ago.
            </span>
            <p class="content"><%= comment.content %></p>
            </li>
          <% end %>
        <% end %>
      </div>

  </div>

</div>